@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}


  
body #renderScene {
  display: flex;
  position: fixed;
  flex-flow: column;
  padding: 10px;
  z-index: 1;
}


body #content {
  background-image: url('/assets/Imagen-menu.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: flex;
  position: fixed;
  background-color: black;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body #content .btnOption {
  position: relative;
  border: 2px solid #ecf0f1;
  width: 15vw;
  height: 10vh;
  margin: 1vw;
  border-radius: 15px;
  padding: 15px;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: black;
  background-image: url( 'https://cdn.pixabay.com/photo/2016/04/01/09/11/car-1299198_960_720.png' );
  background-size: 15vw 10vh;
  left: 40vw;
  margin-bottom: 45vw;

}

body #content .btnOption:hover {
  background:gray;
  width: 15vw;
  color: black;
}

body #content .btnOption .title {
  font-size: 150%;
  margin-bottom: 2px;
}

body #contentModels {
	display: flex;
	position: fixed;
	background: #ecf0f1;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	right: 0;
	z-index: 2;
	width: 20vw;
	height: 100vh;
  }
  
  body #contentModels .btnOptionModels {
	margin: 2vw;
	box-shadow:inset -1px 45px 0px -14px #9fb4f2;
	background-color:#7892c2;
	border-radius:7px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:1px 5px;
	text-decoration:none;
	text-shadow:1px -1px 0px #283966;
  }
  
  body #contentModels .btnOptionModels:hover {
    background-color:#476e9e;
  }
  
  body #contentModels .btnOptionModels:active {
    position:relative;
    top:1px;
  }

  body #contentTexture {
	display: flex;
	position: fixed;
	background: #ffffff00;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	bottom: 0;
	z-index: 2;
	width: 80vw;
	height: 10vh;
  }
  
  body #contentTexture .btnOptionTexture {
    box-shadow: 7px 8px 0px -4px #1c1b18;
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color:#eae0c2;
    border-radius:5px;
    border:2px solid #333029;
    margin: 2vh;
    display:inline-block;
    cursor:pointer;
    color:#505739;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:17px 34px;
   text-decoration:none;
   text-shadow:0px 1px 0px #ffffff;
  }
  
  body #contentTexture .btnOptionTexture:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    background-color:#ccc2a6;
    width: 10vw;
    
  }
  
  body #contentTexture .btnOptionTexture:active {
    position:relative;
    top:1px;
  }
  
  body #backBtn {
    box-shadow:inset -1px -1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:41px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:11px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  
  body #backBtn:hover {
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color:#dfdfdf;
  }
  
  body #backBtn:active {
    position:relative;
    top:1px;
  }
  

  .custom  {
	background: indigo;


  }
  .modelOne {
	background: indigo;
/* 	background-image: url( 'https://loscoches.com/wp-content/uploads/2021/04/AUDI-A6-2021-LOS-COCHES.jpg' );
  background-size: 100vh 20vw; */


  }
  
 
